@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.anime-loading {
  text-align: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.anime-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  .i-box {
    display: flex;
    justify-content: center;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        margin: 1rem;
        font-size: 16px;
        font-family: "Poppins";
        color: #fff;
      }
    }
    img {
      border: 2px solid #222;
      margin-right: 1rem;
      width: 250px;
      height: 350px;
    }
    iframe {
      width: 700px;
      height: 350px;
      border: 2px solid #222;
    }
  }

  h1 {
    padding-bottom: 1rem;
    font-family: "Poppins";
    align-self: center;
    font-style: italic;
    color: #fff;
  }

  .sinopse {
    display: flex;
    width: 813px;
    flex-wrap: wrap;
    h3 {
      padding-top: 2rem;
      color: #fff;
      font-style: italic;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
    }
    p {
      padding: 1px;
      text-align: justify;
      margin-top: 1rem;
      font-size: 18px;
      color: #868686;
      font-family: "Hind", sans-serif;
    }
  }

  button {
    margin-top: 1rem;
    background-color: #222;
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    outline: none;
    padding: 12px;
    transition: all 1s;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    a {
      text-decoration: none;
      color: #fff;
    }
    &:hover {
      background-color: #2f93f6;
    }
    margin-bottom: 1rem;
  }
  .botoes {
    align-self: center;
  }
}
