
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}
html,
body,
#root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #0d1117;
  overflow-x: hidden;
}
