@use "./colors.scss" as colors;

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: colors.$mainstyle;
  overflow-x: hidden;
}
