header {
  position: sticky;
  top: 0;

  .navigationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px 8px 20px;
    background-color: #161b22;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    min-height: 80px;
    .logoWrapper {
      cursor: pointer;
      display: flex;

      .stylish {
        font-weight: bold;
      }

      .logo {
        padding-left: 4px;
        color: #2f93f6;
      }
    }

    .navigation {
      display: flex;
      list-style-type: none;

      li {
        opacity: 1;
        list-style-type: none;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
      }

      .parent {
        padding: 0 30px;
        cursor: pointer;

        .link {
          padding-top: 10px;
          font-size: 16px;
          position: relative;
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          color: #fff;

          &:hover {
            color: #2f93f6;
          }

          .fa-minus {
            opacity: 0;
            transition: all 0.3s ease-in-out;
            position: absolute;
            left: -16px;
            top: 3px;
          }

          .fa-plus {
            opacity: 1;
            transition: all 0.3s ease-in-out;
          }

          .fas {
            color: #2f93f6;
            margin: -2px 4px 0;
            font-size: 10px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
