@use "./colors.scss" as colors;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap");

.container {
  width: 100%;
  align-items: center;
  justify-content: center;

  .lista-animes {
    margin: 50px;
    .slick-container {
      article {
        min-width: 300px;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      a {
        font-family: "Big Shoulders Display", cursive;
        font-size: 20px;
        background-color: #efefef;
        border: none;
        text-decoration: none;
        align-self: center;
        justify-content: center;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        color: colors.$whitecolor;
        background-color: colors.$backgroundcolor;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        width: 250px;
        height: 40px;
        padding: 7px;
        transition: 0.7s;
        &:hover {
          background-color: #cc1d00;
          overflow: visible;
        }
      }
      img {
        border: 2px solid black;
        cursor: pointer;
        width: 250px;
        height: 420px;
      }
    }
  }

  .button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .refresh-button {
      font-style: italic;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      background-color: colors.$backgroundcolor;
      color: colors.$whitecolor;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 2px colors.$secondcolor;
      cursor: pointer;
      width: 100px;
      height: 50px;
      &:hover {
        transition: 0.8s;
        background-color: #e32636;
        box-shadow: inset 0px 0px 26px -9px colors.$secondcolor,
          0px 0px 15px 5px colors.$secondcolor;
      }
    }
  }
}
