@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #111;
}


.filter-container {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
}

.genre-filter {
  width: 100%;
  padding: 12px 18px;
  font-size: 1.1rem;
  border-radius: 8px;
  background-color: #2c2c2c; 
  border: none;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover, &:focus {
    background-color: #444;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  option {
    background-color: #333;
  }
}


.anime-slider {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 2rem;
}

.anime-card {
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #333;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
}

.anime-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  
  &:hover {
    transform: scale(1.1);
  }
}

.anime-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all 0.3s ease;

  &:hover {
    color: #f59e0b;
    background-color: rgba(0, 0, 0, 0.8);
  }
}


.refresh-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.refresh-button {
  background-color: #3b82f6;
  border-radius: 50%;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    background-color: #60a5fa;
    transform: scale(1.1);
  }

  &:disabled {
    background-color: #4b5563;
    cursor: not-allowed;
    transform: scale(1);
  }
}


.loading-spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
