@use "./colors.scss" as colors;
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.container {
  width: 100%;
  align-items: center;
  justify-content: center;

  .lista-animes {
    margin: 50px;
    .slick-container {
      article {
        min-width: 300px;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      button {
        border: none;
        font-family: "Poiret One", cursive;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 250px;
        height: 55px;
        text-decoration: none;
        color: colors.$whitecolor;
        background-color: colors.$backgroundcolor;
        font-size: 18px;
        align-self: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 7px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 1s;
        &:hover {
          color: colors.$whitecolor;
          background-color: colors.$maincolor;
        }
      }
      .buttontext {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        cursor: pointer;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 250px;
        height: 400px;
      }
    }
  }
  .refresh-button {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    font-style: italic;
    left: 46.3%;
    border: 3px solid colors.$secondcolor;
    padding: 0.75rem 1.25rem;
    margin-top: 1%;
    font-size: 18px;
    letter-spacing: 0.15rem;
    color: colors.$whitecolor;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: colors.$backgroundcolor;
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(colors.$maincolor, 10%);
      transition: all 0.5s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}
