@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container {
  width: 100%;
  align-items: center;
  justify-content: center;

  .lista-animes {
    margin: 50px;
    .slick-container {
      overflow: hidden;
      text-overflow: ellipsis;
      article {
        min-width: 300px;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a {
        margin-top: 10px;
        font-size: 17px;
        border: none;
        text-decoration: none;
        align-self: center;
        justify-content: center;
        cursor: pointer;
        color: #fff;
        background: none;
        width: 250px;
        height: 65px;
        padding: 7px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        transition: 0.8s;
        &:hover {
          color: #2f93f6;
        }
      }
      img {
        border-radius: 12px;
        cursor: pointer;
        width: 250px;
        height: 400px;
      }
    }
  }

  .button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .refresh-button {
      background: none;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100px;
      height: 50px;
      border: none;
      transition: 0.6s;
      &:hover {
        color: #2f93f6;
      }
    }
  }
}
