@use "./colors.scss" as colors;
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.content-login-area {
  margin: auto;
  padding-left: 1.25rem;
  
  padding-right: 1.25rem;
  width: 100vw;
  
  #login-form-wrap {
    h2 {
      font-family: "Press Start 2P", cursive;
      padding-bottom: 20px;
      font-weight: 400;
      text-align: center;
      color: colors.$whitecolor;
    }
    background-color: colors.$backgroundcolor;
    min-width: 13.125rem;
    max-width: 37.5rem;
    min-height: 25rem;
    margin: 3.125rem auto;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding-top: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.8);
  }

  #login-form {
    padding: 5%;
    p {
      position: relative;
    }
  }

  input.login {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #8a8b8e;
    border: 1.2px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
    &:focus {
      border-color: colors.$maincolor;
    }
  }

  button.logbtn {
    margin-top: 20px;
    border: none;
    font-family: "Gruppo", cursive;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    color: colors.$backgroundcolor;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: colors.$whitecolor;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: 0.8s;
    &:hover {
      background-color: colors.$maincolor;
    }
  }
  .register-link {
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    color: colors.$whitecolor;
    transition: 0.5s;
    &:hover {
      color: colors.$maincolor;
    }
  }
}
