@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.content-login {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .login-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
    width: 199px;
    height: 63px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 10px;
    h1.title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
    }
    p.subtitle {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 22px;
      color: #949ca9;
    }
  }
  .login-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
    }
    input {
      margin-top: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 15px;
      gap: 10px;
      width: 460px;
      height: 52px;
      background: #202024;
      border: 1px solid #202024;
      border-radius: 6px;
      flex: none;

      align-self: stretch;

      color: #949ca9;
    }
    input::placeholder {
      color: #949ca9;
    }
  }
  .login-button {
    display: flex;
    flex-direction: column;
    padding: 0px;
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 14px 49px;
      width: 460px;
      height: 52px;
      background: #2f93f6;
      border-radius: 6px;
      flex: none;
      order: 0;
      flex-grow: 0;
      color: #fff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      &:hover {
        background: #2f93f6;
        opacity: 0.8;
      }
    }
  }
  .register {
    margin-top: 10px;
    a {
      font-family: "Poppins";
      font-style: normal;
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      font-size: 13px;
      &:hover {
        color: #2f93f6;
      }
    }
  }
}
