.rendering-display {
  margin: 100px;
  .rendering-message {
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
  }
}
