@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#my-animes {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  span.nothing {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    color: #fff;
  }

  ul.animelist {
    margin-top: 1rem;
    padding: 0;
    li {
      padding: 0;
      list-style: none;
      width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      div button {
        border: none;
        padding: 5px;
        border-radius: 8px;
        margin-right: 10px;
        background-color: #222;
        color: #fff;
        cursor: pointer;
        transition: all 0.7s;
        &:hover {
          color: #2f93f6;
        }
      }
    }
    span {
      font-style: italic;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #fff;
    }
  }
}

@media (max-width: 600px) {
  ul.animelist {
    li {
      width: 500px !important;
    }
  }
}

@media (max-width: 500px) {
  ul.animelist {
    li {
      width: 470px !important;
    }
  }
}
